.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
}

.table-container {
  overflow-x: auto; /* Permet le scroll horizontal */
  margin: 0 -16px;
  padding: 0 16px;
}

.additional-filters {
  display: flex;
  gap: 16px; /* espace entre les champs */
  align-items: center;
}

.additional-filters mat-form-field {
  width: 200px; /* ajuste selon ton design */
}
