<div class="page-header">
  <h1>Gestion des Élèves</h1>
  <button mat-raised-button color="primary" (click)="addStudent()">
    <mat-icon>add</mat-icon>
    Ajouter un élève
  </button>
</div>

<mat-card>
  <mat-card-content>
    <div class="filters-container">
      <app-search-filter 
        placeholder="Rechercher un élève..."
        (search)="applyFilter($event)">
      </app-search-filter>

      <div class="additional-filters">
        <mat-form-field>
          <mat-label>Filtrer par classe</mat-label>
          <mat-select [(value)]="selectedClasse" (selectionChange)="applyFilters()">
            <mat-option>Toutes</mat-option>
            <mat-option *ngFor="let classe of classes" [value]="classe">
              {{classe}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort class="w-100">
        <ng-container matColumnDef="matricule">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Matricule</th>
          <td mat-cell *matCellDef="let element">{{element.numeroMatricule}}</td>
        </ng-container>
  
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
          <td mat-cell *matCellDef="let element">{{element.nom}} {{element.prenom}}</td>
        </ng-container>
  
        <ng-container matColumnDef="classe">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Classe</th>
          <td mat-cell *matCellDef="let element">{{element.classe}}</td>
        </ng-container>
  
        <ng-container matColumnDef="parent">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Parent</th>
          <td mat-cell *matCellDef="let element">{{element.nomParent}}</td>
        </ng-container>
  
        <ng-container matColumnDef="telephone">
          <th mat-header-cell *matHeaderCellDef>Téléphone</th>
          <td mat-cell *matCellDef="let element">{{element.telephoneParent}}</td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="viewStudent(element)" matTooltip="Voir les détails">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="editStudent(element)" matTooltip="Modifier">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteStudent(element)" matTooltip="Supprimer">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="6">
            Aucun élève trouvé
          </td>
        </tr>
      </table>
    </div>

    <mat-paginator 
      [pageSizeOptions]="[5, 10, 25, 100]"
      [pageSize]="10"
      showFirstLastButtons>
    </mat-paginator>
  </mat-card-content>
</mat-card>