<footer class="footer">
  <div class="footer-content">
    <div class="footer-brand">
      <img src="assets/logo-college.png" alt="Logo" class="footer-logo">
      <div class="brand-info">
        <h2>CASJS</h2>
        <p>Discipline-Travail-Succes</p>
      </div>
    </div>

    <div class="footer-links">
      <div class="links-group">
        <h3>Navigation</h3>
        <a routerLink="/dashboard">Tableau de bord</a>
        <a routerLink="/personnel">Personnel</a>
        <a routerLink="/students">Élèves</a>
        <a routerLink="/schedule">Emplois du temps</a>
        <a routerLink="/accounting">Comptabilité</a>
      </div>

      <div class="links-group">
        <h3>Support</h3>
        <a href="#">Documentation</a>
        <!--a href="#">Guide d'utilisation</a>
        <a href="#">FAQ</a-->
        <a href="#">Contact</a>
      </div>

      <div class="links-group">
        <h3>Légal</h3>
        <a href="#">Conditions d'utilisation</a>
        <a href="#">Politique de confidentialité</a>
        <a href="#">Mentions légales</a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; {{currentYear}} Collège Manager. Tous droits réservés.</p>
  </div>
</footer>