<div class="page-header">
  <h1>{{isEditMode ? 'Modifier' : 'Ajouter'}} un cours</h1>
</div>

<mat-card>
  <mat-card-content>
    <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="w-100">
            <mat-label>Classe</mat-label>
            <mat-select formControlName="classe">
              <mat-option *ngFor="let classe of classes" [value]="classe">
                {{classe}}
              </mat-option>
            </mat-select>
            <mat-error>{{getErrorMessage('classe')}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="w-100">
            <mat-label>Jour</mat-label>
            <mat-select formControlName="jour">
              <mat-option *ngFor="let jour of jours" [value]="jour">
                {{jour}}
              </mat-option>
            </mat-select>
            <mat-error>{{getErrorMessage('jour')}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="w-100">
            <mat-label>Heure de début</mat-label>
            <input matInput type="time" formControlName="heureDebut">
            <mat-error>{{getErrorMessage('heureDebut')}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="w-100">
            <mat-label>Heure de fin</mat-label>
            <input matInput type="time" formControlName="heureFin">
            <mat-error>{{getErrorMessage('heureFin')}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="w-100">
            <mat-label>Matière</mat-label>
            <mat-select formControlName="matiere">
              <mat-option *ngFor="let matiere of matieres" [value]="matiere">
                {{matiere}}
              </mat-option>
            </mat-select>
            <mat-error>{{getErrorMessage('matiere')}}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="w-100">
            <mat-label>Enseignant</mat-label>
            <mat-select formControlName="enseignant">
              <mat-option *ngFor="let teacher of listOfTeachers" [value]="teacher">
                {{teacher}}
              </mat-option>
            </mat-select>
            <mat-error>{{getErrorMessage('enseignant')}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="w-100">
            <mat-label>Salle</mat-label>
            <input matInput formControlName="salle" placeholder="Ex: Salle 1">
            <mat-error>{{getErrorMessage('salle')}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="d-flex justify-content-end gap-2">
        <button mat-button type="button" (click)="cancel()" [disabled]="isLoading">Annuler</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">
          <mat-spinner diameter="20" *ngIf="isLoading"></mat-spinner>
          <span *ngIf="!isLoading">{{isEditMode ? 'Modifier' : 'Ajouter'}}</span>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>